<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <bean id="triangle" class="org.ravi.spring.Triangle" init-method="init" destroy-method="destroy"> <!-- default:scope="singleton" -->
       <property name="type" value="Equilateral" />
   </bean>
   
   <bean id="circle" class="org.ravi.spring.Circle" scope="prototype" init-method="init" destroy-method="destroy">
       <property name="color" value="black"/>
   </bean>
   
   <bean id="friendCircle" class="org.ravi.spring.FriendCircle" parent="circle">
       <property name="size" value="large"/>
   </bean>
   
   <bean class="org.ravi.spring.InitMainApp"/>
   
   <!-- Definition for textEditor bean -->
   <!-- Pass Object Reference : Constructor-Based DI -->
   <!-- 
   <bean id="textEditor" class="org.ravi.spring.TextEditor">
      <constructor-arg ref="spellChecker"/>	
   </bean>-->
   <!-- Pass Object Reference as Parameter : Setter-Based DI -->
    <bean id="textEditor" class="org.ravi.spring.TextEditor">
      <property name="spellChecker" ref="spellChecker"/>
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id="spellChecker" class="org.ravi.spring.SpellChecker">
   </bean>
   
   <!-- Pass by Value using simple type -->
   <bean id="exampleBean" class="org.ravi.spring.ExampleBean">
      <constructor-arg type="int" value="2001"/>	
      <constructor-arg type="java.lang.String" value="Zara"/>
   </bean>

   <!-- Pass by Value using index -->
   <!-- <bean id="exampleBean" class="org.ravi.spring.ExampleBean">
      <constructor-arg index=0 value="2001"/>
      <constructor-arg index=1 value="Zara"/>
   </bean>-->
   
</beans>